.container {
    margin: 50px;
    padding: 20px;
    border: 1px solid #d6dae7; /* Light Grayish Blue */
    border-radius: 15px;
    box-shadow: 2px 2px 2px #d6dae7; /* Light Grayish Blue */
}

.nav-links {
    margin-right: 10px;
    text-decoration: none;
    color: #001b75; /* Dark Blue */
    font-weight: bold;
}

.header {
    background-color: #001b75; /* Dark Blue */
    padding: 10px 20px;
    color: #fcfcfc; /* White */
    border: 1px solid #d6dae7; /* Light Grayish Blue */
    border-radius: 10px;
    text-align: center;
}

.header a {
    color: #fcfcfc; /* White */
    padding: 0 15px;
    text-decoration: none;
}

/* Add :hover styles for the links as well */
.header a:hover {
    text-decoration: underline;
}

.cards {
    text-align:center;
    padding: 20px;
    margin: 10px;
    border: 1px solid #d6dae7; /* Light Grayish Blue */
    border-radius: 10px;
    box-shadow: 2px 2px 10px #94a8ca; /* Soft Blue */
    cursor: pointer;     
    width: auto;
    flex: 1;  
    color: #fcfcfc; /* White */
    background-color: #001b75; /* Dark Blue */
}

.home-graph {
    width: 100%;
    display: inline-block;
    margin: 10px;
    border: 1px solid #d6dae7; /* Light Grayish Blue */
    border-radius: 5px;
    box-shadow: 2px 2px 10px #94a8ca; /* Soft Blue */
}

/* General styling for dropdowns */
.dropdown {
    margin: 10px;
    padding: 5px;
    border: 1px solid #d6dae7; /* Light Grayish Blue */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Readable text size */
    color: #001b75; /* Dark Blue */
    background-color: #fcfcfc; /* White */
}

/* Styling for the dropdown when hovered */
.dropdown:hover {
    border-color: #001b75; /* Dark Blue */
}

/* Styling for the dropdown when focused */
.dropdown:focus {
    outline: none; /* Removes the default focus outline */
    border-color: #001b75; /* Blue border for focus indication */
    box-shadow: 0 0 5px rgba(0, 27, 117, 0.5); /* Dark Blue */
}

/* Styling for the dropdown when open */
.dropdown:active, .dropdown.open {
    background-color: #d6dae7; /* Light Grayish Blue */
}

/* Styling options within the dropdown */
.dropdown option {
    padding: 8px 10px; /* Padding inside options for easier clicking */
}

/* Additional styling can be added for disabled or selected options if needed */




/*  for date picker on graph page */

/* General styling for the date picker under dropdown class */
.dropdown .DateInput, .dropdown .DateRangePickerInput {
    background-color: #fcfcfc; /* White background */
    color: #001b75; /* Dark Blue text */
}

/* Styling for the date input fields */
.dropdown .DateInput_input {
    color: #001b75; /* Dark Blue text */
    border-bottom: 2px solid #94a8ca; /* Soft Blue border */
}

/* Hover and focus states for the inputs */
.dropdown .DateInput_input__focused, .dropdown .DateInput_input:hover {
    border-bottom-color: #001b75; /* Darker Blue for focus and hover */
}

/* Background for the selected date and hover states */
.dropdown .CalendarDay__selected, .dropdown .CalendarDay__selected:hover {
    background-color: #001b75; /* Dark Blue background for selected date */
    color: #fcfcfc; /* White text */
}

/* Background color for days the user hovers over */
.dropdown .CalendarDay__hovered_span, .dropdown .CalendarDay__hovered_span:hover {
    background-color: #94a8ca; /* Soft Blue background */
    color: #000000; /* Black text */
}

/* Background color for the range of dates selected */
.dropdown .CalendarDay__selected_span, .dropdown .CalendarDay__selected_span:active {
    background-color: #d6dae7; /* Light Grayish Blue background */
    color: #000000; /* Black text */
}

/* Styling for the calendar popup */
.dropdown .DayPicker, .dropdown .DayPicker_WeekHeader {
    background-color: #fcfcfc; /* White background */
    color: #001b75; /* Dark Blue text */
}

/* Navigation button styling */
.dropdown .DayPickerNavigation_button {
    color: #001b75 !important; /* Dark Blue icons */
}

/* Ensure visibility and styling of nav buttons */
.dropdown .DayPickerNavigation_button__default {
    border: none;
    background-color: transparent;
}




/* nab bar in header */
.header {
    background-color: #001b75;  /* Dark background for the navbar */
    padding: 10px 20px;  /* Padding around the navbar */
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;  /* Centers the navigation items horizontally */
    align-items: center;
}

.nav-item {
    color: white;  /* White text color for readability */
    padding: 8px 15px;  /* Padding around the text and icon */
    text-decoration: none;  /* Removes underline from links */
    display: flex;  /* Aligns icons and text horizontally */
    align-items: center;  /* Centers the icon and text vertically */
    margin: 0 10px;  /* Spacing between navigation items */
}

.nav-item i {
    margin-right: 8px;  /* Space between the icon and the text */
}

.nav-item:hover {
    background-color: #163393;  /* Slightly lighter background on hover */
    border-radius: 5px;  /* Rounded corners on hover */
}
